@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  @apply font-sans;
  @apply leading-relaxed;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

h1 {
  font-weight: bold;
  font-size: calc(2rem + 1vw);
}

h2 {
  font-weight: bold;
  font-size: calc(1.23rem + 1vw);
}

h3 {
  font-weight: bold;
  font-size: calc(0.76rem + 1vw);
}

h4 {
  font-weight: bold;
  font-size: calc(0.47rem + 1vw);
}

h5 {
  font-size: calc(0.2rem + 1vw);
}

.styled-markdown {
  padding: 1rem 0;
  text-size-adjust: 100%;
  text-align: left;
  text-rendering: optimizeSpeed;
  font-size: 20px;
}

.styled-markdown h1,
.styled-markdown h2,
.styled-markdown h3 {
  margin-top: 2rem;
}

.styled-markdown p {
  margin-bottom: 1rem;
}

.styled-markdown ul {
  list-style: disc;
  margin-left: 2rem;
}
.styled-markdown ul li {
  padding: 0.3rem 0;
}

.styled-markdown a {
  color: #007fa9;
  text-decoration: underline;
  cursor: pointer;
}
.styled-markdown a img {
  margin: 0 auto;
}

.styled-markdown pre {
  background-color: black;
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.styled-markdown .table-wrapper-paragraph {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.styled-markdown .table-wrapper-paragraph th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #eef0f1;
  padding: 0.4rem 1rem;
  text-align: center;
}
.styled-markdown .table-wrapper-paragraph td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.4rem 1rem;
  text-align: center;
}
